header {
    display: flex;
    justify-content: space-evenly;
    min-height: 60px;
    padding: 1rem 1rem 0rem 1rem;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    width: 500px;
    height: 100%;
    padding: 10px 40px;
    border-radius: 28px;
    font-size: 16px;
    background: linear-gradient(to right, #afaeae1a 0%, #dbdbdb 70%, #fffffe 100%);
}

.search-input::placeholder {
    color: black;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.location-container button {
    position: relative;
    display: inline-block;
    width: 270px;
    padding-left: 40px;
    height: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to left, #4CBB17, #87f454);
}

.location-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.autocomplete-results {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.autocomplete-item:hover {
    background: #f0f0f0;
}

.no-results {
    padding: 10px;
    color: #888;
}


@media (max-width: 768px) {

    header {
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .location-container button {
        height: 65px;
        font-size: 1rem;
    }

    .search-container {
        width: 100%;
    }

    .search-input{
        font-size: 1rem;
        width: 100%;
        height: 82px;
        padding: 0% 18%;
    }

    .search-icon {
        left: 9%;
        width: 25px;
    }

    .autocomplete-results {
        top: 5.3rem;
    }

}
