.weather-info-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-radius: 15px;
    gap: 20px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.temp {
    margin-bottom: 20px;
}

.temp h1 {
    font-size: 4.5rem;
    margin: 0;
}

.temp p {
    font-size: 1rem;
    color: #555;
}

.temp span {
    color: black;
    font-weight: bold;
}

.sun-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.sun-detail-container {
    display: flex;
    gap: 5px;
}

.hour-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sun-detail strong {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
}

.sun-detail span {
    font-size: 0.9rem;
    color: #555;
}

.weather-info img{
    width: 40px;;
}

.stat img {
    width: 24px;
    height: 24px;
}

.weather-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.weather-icon p{
    font-size: 2rem;
    font-weight: bold;
}

.weather-icon img {
    width: 250px;
}

.weather-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex: 1;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 1.3rem;
}

.stat img {
    width: 40px;
    height: 40px;
}

@media (max-width: 1730px) {
    .weather-info-card-container {
        flex-direction: column;
    }

    .weather-info {
        flex-direction: row;
        gap: 60px;
    }

    .weather-icon {
        flex-direction: row;
    }

    .sun-detail-container img {
        width: 42px;
    }

    .hour-details {
        font-size: 1.2rem;
    }
}

@media (max-width: 540px) {

    .weather-info {
        flex-direction: column;
        gap: 0px;
    }

    .weather-icon {
        flex-direction: column;
    }
}
