.weather-dashboard {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 25px 100px;
}

.card {
    min-height: 250px;
    background: linear-gradient(to top,
    #8d8e8e6b 0%,
    #DBDBDB 50%,
    #DAD9D8 100%);

    padding: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.806);
}

@media (max-width: 1240px) {
    .weather-dashboard {
        grid-template-columns: 100%;
    }

}

@media (max-width: 768px) {
    .weather-dashboard {
        grid-template-columns: 100%;
        gap: 20px;
        padding: 15px;
    }

    .card {
        padding: 10px;
    }

}



